.mmobspeech-balloon {
	position: relative;
	background: #ffffff;
	border: 1px solid #000000;
  border-radius: 3px;
  box-shadow: 1px 3px 7px 0px #666666;
}
.mmobspeech-balloon:after, .mmobspeech-balloon:before {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: "";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.mmobspeech-balloon:after {
	border-color: rgba(255, 255, 255, 0);
	border-top-color: #ffffff;
	border-width: 8px;
	margin-left: -8px;
}
.mmobspeech-balloon:before {
	border-color: rgba(0, 0, 0, 0);
	border-top-color: #000000;
	border-width: 9px;
	margin-left: -9px;
}

.mmobname-box{
	width:min-content;
	background-color:rgba(0,0,0,0.7);
	color:white;
    text-align:center;
}

.mmobchat-box {
	margin-left:auto;
	margin-right: auto;
	padding:5px;
    border:solid 1px #000;
    width:98%;
    height:calc(100% - 48px);
    overflow:auto;
}

.mmob-worldinfo{
	margin-left:auto;
	margin-right: auto;
	height:95%
}
